
<h1>Listing servers</h1>


<%= accordion do |a| %>
  <% @servers.each do |server| %>

    <%= a.accord({
      :title => server.title
    }) do %>

      <%= render :partial => 'servers/partials/server', :locals => {:server => server} %>

      <%= link_button 'Show', server %>
      <%= link_button 'Edit', edit_server_path(server) %>
      <%= link_button 'Destroy', server, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  <% end %>
<% end %>
<br />

<%= link_button 'New Server', new_server_path %>
