
<h1>Listing servers</h1>


<%= accordion do |a| %>
  <% @servers.each do |server| %>

    <%= a.accord({
      :title => server.title
    }) do %>

      <td><%= link_to 'Show', server %></td>
      <td><%= link_to 'Edit', edit_server_path(server) %></td>
      <td><%= link_to 'Destroy', server, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  <% end %>
<% end %>
<br />

<%= link_button 'New Server', new_server_path %>
