<!DOCTYPE html>
<html>
<head>
  <title>Miner</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
  <%= javascript_include_tag "jquery_engine" %>
  <%= javascript_include_tag "jquery_engine_ui" %>
  <link 
  rel="stylesheet" 
  href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/themes/dark-hive/jquery-ui.css" 
  type="text/css" />

  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :template => 'layouts/menu' %>
<%= yield %>

</body>
</html>
